* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: beige;
}

.primary {
    color: #FD6E0A;

}

nav div {
    display: flex;
    /* margin: 0px 200px; */
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;

}

li {
    padding: 20px;
    text-decoration: none;
    color: brown;


}

.button {
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border: 0px;

}

.nav-taitel {
    font-size: 40px;
    font-weight: 800;
}

nav div {
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 100px;
}

header {}

main section {
    margin-top: 130px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    width: 1140px;
    margin: 0px auto;
}

.banner {
    display: flex;
    padding: 30px 30px 0px 100px;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}

.banner-titel {
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-contin {
    font-size: 45px;
    color: #777;
    margin-bottom: 20px;
}

.s {
    margin-bottom: 20px;
    max-width: 500px;
}

.about {
    padding: 150px;
    margin: 140px 0;
    background-color: beige;
}

.section-titel {
    color: #181818;
    text-align: center;

    font-size: 40px;

    font-weight: 800;

}

.section-description {
    display: flex;
    color: #757575;
    text-align: center;
    font-size: 18px;
}

.info-con {
    display: flex;
}

.about-info {
    margin: 20px;
    text-align: center;
}

.info-title {
    color: #474747;
}

.info-description {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

}

#what-i-do {
    padding: 30px 150px;
}

.skill-con {
    display: flex;
    gap: 30px;
}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.sill-title {
    margin: 10px;
    font-size: 20px;


}

.resume-column-title {
    color: black;
margin-bottom: 30px;
    font-size: 30px;

    font-weight: 700;

}

.resume-con {
    display: flex;
    gap: 70px;
    margin: 50px;
}

.resume-item-info{
    color:  #757575;
    padding: 10px;
}
.resume-description{color:  #757575;padding: 10px;

}
.download{
    text-align: center;
    margin-top: 50px;
}